@charset "utf-8";

* {
	margin: 0;
	padding:0;
	font-size: 14px;
	font-family: 'Arimo', 'Arial', sans-serif;
}

body {
	background: #fff;
	font-size: 14px;
	color: #262626;
}

button#button {
	padding: 6em 1em .5em 1em;
	background: url(cont.jpg);
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-align: left;
	border: none;
	border-bottom: solid .5em #2D77A5;
	margin-bottom: 50px;
	min-width: 220px;
	background-color: #FFF;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}	
